<template>
  <div class="home">
     <HeaderRizki />
    <HeroRizki />
    <WomanRizki />
    <InstaRizki />
    <PartnerRizki />
    <FooterRizki />
  </div>
</template>

<script>
// @ is an alias to /src
import HeaderRizki from "@/components/HeaderRizki.vue";
import HeroRizki from "@/components/HeroRizki.vue";
import WomanRizki from "@/components/WomanRizki.vue";
import InstaRizki from "@/components/InstaRizki.vue";
import PartnerRizki from "@/components/PartnerRizki.vue";
import FooterRizki from "@/components/FooterRizki.vue";

export default {
  name: 'home',
  components: {
    HeaderRizki,
    HeroRizki,
    WomanRizki,
    InstaRizki,
    PartnerRizki,
    FooterRizki
    // HelloWorld
  }
}
</script>
