<template>
  <div class="product">
    <HeaderRizki />
    <!-- Breadcrumb Section Begin -->
    <div class="breacrumb-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="breadcrumb-text product-more text-left">
              <a href="./home.html"><i class="fa fa-home"></i> Home</a>
              <span>Detail</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Breadcrumb Section Begin -->

    <!-- Product Shop Section Begin -->
    <section class="product-shop spad page-details">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="row">
              <div class="col-lg-6">
                <div class="product-pic-zoom">
                  <img class="product-big-img" :src="gambar_devault" alt="" />
                  <div class="zoom-icon">
                    <i class="fa fa-search-plus"></i>
                  </div>
                </div>
                <div class="product-thumbs" v-if="productDetail.galeries !== 'undefined'">
                  <carousel :dots="false" :nav="false" class="product-thumbs-track ps-slider">
                    <div class="pt" v-for="ss in productDetail.galeries" v-bind:key="ss.id" @click="changeImage(ss.photo)" :class="ss.photo == gambar_devault ? 'active' : ''">
                      <img v-bind:src="ss.photo" alt="" />
                    </div>
                  </carousel>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="product-details text-left">
                  <div class="pd-title">
                    <span>{{ productDetail.category.nama_kategori }}</span>
                    <h3>{{ productDetail.name }}</h3>
                    <a href="#" class="heart-icon"
                      ><i class="icon_heart_alt"></i
                    ></a>
                  </div>
                  <div class="pd-rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                    <span>(5)</span>
                  </div>
                  <h4>Stock: {{ productDetail.quantity }}</h4>
                  <div class="pd-desc">
                    <p v-html="productDetail.description"></p>
                    <h4>Rp. {{ productDetail.price }} <span>629.99</span></h4>
                  </div>
                  <div class="quantity">
                    <div class="pro-qty">
                      <input type="text" value="1" />
                    </div>
                    <router-link to="/cart">
                    <a @click="simpanKeranjang(productDetail.id,productDetail.name,productDetail.price,productDetail.galeries[0].photo)" href="#" class="primary-btn pd-cart">Add To Cart</a>
                    </router-link>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Product Shop Section End -->
    <ReleatedProduct v-bind:productDetail="productDetail.category_id" />
    <FooterRizki />
  </div>
</template>

<script>
// @ is an alias to /src
import HeaderRizki from "@/components/HeaderRizki.vue";
import ReleatedProduct from "@/components/ReleatedProduct.vue";
import FooterRizki from "@/components/FooterRizki.vue";
import carousel from 'vue-owl-carousel';
import axios from "axios";

export default {
  name: 'product',
  components: {
    HeaderRizki,
    FooterRizki,
    ReleatedProduct,
    carousel
    // HelloWorld
  },
  data(){
    return {
      gambar_devault: "",
      productDetail: [],
      keranjangUser: [],
    };
  },
  methods: {
    changeImage(urlImage){
      this.gambar_devault = urlImage;
    },
    setDataGambar(data) {
      this.productDetail = data;
      this.gambar_devault = data.galeries[0].photo;
    },
    simpanKeranjang(idProduct,nameProduct,priceProduct,photoProduct){
      var productStorage = {
        "id": idProduct,
        "name": nameProduct,
        "price": priceProduct,
        "photo": photoProduct
      }
      this.keranjangUser.push(productStorage);
      const parsed = JSON.stringify(this.keranjangUser);
      localStorage.setItem('keranjangUser',parsed);
     
    }
  },
  mounted(){
    if(localStorage.getItem('keranjangUser')){
      try {
        this.keranjangUser = JSON.parse(localStorage.getItem('keranjangUser'));
      } catch (e) {
        localStorage.removeItem('keranjangUser');
      }
    }
    axios.get("http://localhost:8000/api/product",{
      params: {
        id: this.$route.params.id
      }
    })
    .then(res => this.setDataGambar(res.data.data) )
     // eslint-disable-next-line no-console
    .catch(err => console.log(err));
  }
};
</script>
<style scoped>
.product-thumbs .pt{
  margin-right: 10px;
}

</style>
