<template>
    <div class="kategori">
    <HeaderRizki />
    <!-- Breadcrumb Section Begin -->
    <div class="breacrumb-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="breadcrumb-text product-more text-left">
              <a href="./home.html"><i class="fa fa-home"></i> Home</a>
              <span>Kategori</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Breadcrumb Section Begin -->

    <!-- Product Shop Section Begin -->
    <section class="women-banner spad">
      <div class="container">
        <div v-for="idKat in productKategori" v-bind:key="idKat.id" class="col-md-12 mt-3">
          <div class="row">
            <div class="product-item" v-for="kategory in idKat.categories" v-bind:key="kategory.id">
              <div class="pi-pic">
                <img class="img-leted" :src="kategory.galeries[0].photo" alt="" />
                <div class="sale">Sale</div>
                <div class="icon">
                  <i class="icon_heart_alt"></i>
                </div>
                <ul>
                  <li class="w-icon active">
                    <a href="#"><i class="icon_bag_alt"></i></a>
                  </li>
                  <li class="quick-view"><router-link v-bind:to="'/product/'+ kategory.id" @click.native="$router.go()">+ Quick View</router-link></li>
                  <li class="w-icon">
                    <a href="#"><i class="fa fa-random"></i></a>
                  </li>
                </ul>
              </div>
              <div class="pi-text">
                <div class="catagory-name">{{ idKat.nama_kategori }}</div>
                <a href="#">
                  <h5>{{ kategory.name }}</h5>
                </a>
                <div class="product-price">
                  {{ kategory.price }}
                  <span>$35.00</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Product Shop Section End -->
    <!-- <ReleatedProduct v-bind:productDetail="productDetail.category_id" /> -->
    <FooterRizki />
    </div>
</template>

<script>
import HeaderRizki from "@/components/HeaderRizki.vue";
// import ReleatedProduct from "@/components/ReleatedProduct.vue";
import FooterRizki from "@/components/FooterRizki.vue";
// import carousel from 'vue-owl-carousel';
import axios from "axios";
export default {
    name: 'kategori',
    components: {
        HeaderRizki,
        FooterRizki,
        // ReleatedProduct,
        // carousel
    },
    data(){
    return {
      gambar_devault: "",
      productKategori: []
    };
  },
  methods: {
    changeImage(urlImage){
      this.gambar_devault = urlImage;
    }
  },
  mounted(){
    axios.get("http://localhost:8000/api/kategori",{
      params: {
        slug: this.$route.params.slug
      }
    })
    .then(res => (this.productKategori = res.data) )
     // eslint-disable-next-line no-console
    .catch(err => console.log(err));
  }
};
</script>
<style scoped>
.img-leted{
  width: 255px;
  height: 255px;
}
.product-item{
  margin-right: 10px;
}
</style>