<template>
    <div class="shopping">
        <HeaderRizki />
        <!-- Breadcrumb Section Begin -->
    <div class="breacrumb-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="breadcrumb-text product-more text-left">
              <a href="./home.html"><i class="fa fa-home"></i> Home</a>
              <span>Shopping Cart</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Breadcrumb Section Begin -->

    <!-- Shopping Cart Section Begin -->
    <section class="shopping-cart spad">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <div class="row">
              <div class="col-lg-12">
                <div class="cart-table">
                  <table>
                    <thead>
                      <tr>
                        <th>Image</th>
                        <th class="p-name text-center">Product Name</th>
                        <th>Price</th>
                        <!-- <th>Quantity</th> -->
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr v-for="cart in keranjangUser" :key="cart.id">
                        <td class="cart-pic first-row">
                          <img class="cart-img" :src="cart.photo" alt="" />
                        </td>
                        <td class="cart-title first-row text-center">
                          <h5>{{ cart.name }}</h5>
                        </td>
                        <td class="p-price first-row">Rp. {{ cart.price }}</td>
                        <!-- <td class="qua-col first-row">
                          <div class="quantity">
                            <div class="pro-qty">
                              <input type="text" value="1" />
                            </div>
                          </div>
                        </td> -->
                        <td @click="removeItem(cart.id)" class="close-td first-row"><i class="ti-close"></i></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="col-lg-8">
                <h4 class="mb-4 text-left">Informasi Pembeli</h4>
                <div class="user-checkout text-left">
                  <form action="">
                    <div class="form-group">
                      <label for="namaLengkap">Nama Lengkap</label>
                      <input type="text" class="form-control" placeholder="Masukana Nama" v-model="customerInfo.name">
                    </div>
                    <div class="form-group">
                      <label for="namaLengkap">Email</label>
                      <input type="email" class="form-control" placeholder="Masukana E-mail" v-model="customerInfo.email">
                    </div>
                    <div class="form-group">
                      <label for="namaLengkap">No. HP</label>
                      <input type="text" class="form-control" placeholder="Masukana No Hp" v-model="customerInfo.number">
                    </div>
                    <div class="form-group">
                      <label for="namaLengkap">Alamat Lengkap</label>
                      <textarea name="" id="" cols="30" rows="10" class="form-control" placeholder="Masukan Alamat" v-model="customerInfo.address"></textarea>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="row">
              <div class="col-lg-12">
                <div class="proceed-checkout text-left">
                  <ul>
                    <li class="subtotal">
                      ID Transaction
                      <span>#SH12000</span>
                    </li>
                    <li class="subtotal mt-3">
                      Subtotal
                      <span>{{ totalHarga }}</span>
                    </li>
                    <li class="subtotal mt-3">
                      Pajak
                      <span>10%</span>
                    </li>
                    <li class="subtotal mt-3">
                      Total Biaya
                      <span>{{ totalBiaya }}</span>
                    </li>
                    <li class="subtotal mt-3">
                      Bank Transfer
                      <span>Mandiri</span>
                    </li>
                    <li class="subtotal mt-3">
                      No. Rekening
                      <span>2208 1996 1403</span>
                    </li>
                    <li class="subtotal mt-3">
                      Nama Penerima
                      <span>Umar</span>
                    </li>
                  </ul>
                  <a @click="checkout()" href="#" class="proceed-btn">I ALREADY PAID</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Shopping Cart Section End -->
    </div>
</template>
<script>
import HeaderRizki from "@/components/HeaderRizki.vue";
import axios from "axios";
export default {
    name: "ShoppingCart",
    components:{
        HeaderRizki
    },
    data(){
      return {
        keranjangUser: [],
        customerInfo: {
          name: '',
          email: '',
          number: '',
          address: ''
        }
      };
    },
    methods: {
        removeItem(xx){
          let faveGifs = JSON.parse(localStorage.getItem("keranjangUser"));
          let faveGif = faveGifs.map(faveGif => faveGif.id);
          let index = faveGif.findIndex(id => id == xx);
          this.keranjangUser.splice(index,1);
          const parsed = JSON.stringify(this.keranjangUser);
          localStorage.setItem('keranjangUser',parsed);
          window.location.reload();

          // eslint-disable-next-line no-console
          console.log(index); 
      },
      checkout(){
        let productId = this.keranjangUser.map(function(product){
        return product.id
        });
        let checkoutData = {
          "name": this.customerInfo.name,
          "email": this.customerInfo.email,
          "number": this.customerInfo.number,
          "address": this.customerInfo.address,
          "transaction_total": this.totalBiaya,
          "transaction_status": "PENDING",
          "transaction_detail": productId
        };
        axios.post("http://localhost:8000/api/checkout",checkoutData)
        .then(() => this.$router.push('success'))
        .catch(err => console.log(err));
      }
    },
    mounted(){
    if(localStorage.getItem('keranjangUser')){
      try {
        this.keranjangUser = JSON.parse(localStorage.getItem('keranjangUser'));
      } catch (e) {
        localStorage.removeItem('keranjangUser');
      }
    }
  },
  computed:{
    totalHarga(){
      return this.keranjangUser.reduce(function(items,data){
        return items + data.price
      },0);
    },
    pajak(){
      return (this.totalHarga * 10) / 100;
    },
    totalBiaya(){
      return this.totalHarga + this.pajak;
    }
  }
}
</script>
<style scoped>
.cart-img{
  width: 100px; height: 100px;
}
</style>