<template>
  <!-- Header Section Begin -->
    <header class="header-section">
      <div class="header-top">
        <div class="container">
          <div class="ht-left">
            <div class="mail-service">
              <i class=" fa fa-envelope"></i>
              hello.shayna@gmail.com
            </div>
            <div class="phone-service">
              <div class="dropdown">
                <a href="#" class="" v-on:click='dropActive = !dropActive'>Kategori Barang <i class="fa fa-caret-down"></i></a>
                <ul class="" v-show="dropActive">
                  <li v-for="kategories in kategori" v-bind:key="kategories.id">
                      <router-link :to="'/kategori/'+kategories.slug" @click.native="$router.go()"><a href="" class="nav-drop">{{kategories.nama_kategori}}</a></router-link>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          
          <div class="ht-right">
            <a href="#" class="login-panel"><i class="fa fa-user"></i>Masuk</a>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="inner-header">
          <div class="row">
            <div class="col-lg-2 col-md-2">
              <div class="logo">
                <router-link to="/">
                  <img src="img/logo_website_shayna.png" alt="" />
                </router-link>
              </div>
            </div>
            <div class="col-lg-7 col-md-7"></div>
            <div class="col-lg-3 text-right col-md-3">
              <ul class="nav-right">
                <li class="cart-icon">
                  Keranjang Belanja &nbsp;
                  <a href="#">
                    <i class="icon_bag_alt"></i>
                    <span>{{ keranjangUser.length }}</span>
                  </a>
                  <div class="cart-hover">
                    <div class="select-items">
                      <table>
                        <tbody v-if="keranjangUser.length > 0">
                          <tr v-for="keranjang in keranjangUser" :key="keranjang.id">
                            <td class="si-pic">
                              <img class="photo-item" :src="keranjang.photo" alt="" />
                            </td>
                            <td class="si-text">
                              <div class="product-selected">
                                <p>Rp. {{keranjang.price}}</p>
                                <h6>{{ keranjang.name }}</h6>
                              </div>
                            </td>
                            <td class="si-close" @click="removeItem(keranjang.id)">
                              <i class="ti-close"></i>
                            </td>
                          </tr>
                        </tbody>
                        <tbody v-else>
                          <tr>
                            <td>Keranjang Kosong</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <div class="select-total">
                      <span>total:</span>
                      <h5>{{ totalHarga }}</h5>
                    </div>
                    <div class="select-button">
                      <a href="#" class="primary-btn view-card"> <router-link style="color: #fff" :to="'/cart'"> VIEW CARD </router-link></a>
                      <a href="#" class="primary-btn checkout-btn">CHECK OUT</a>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- Header End -->
</template>

<script>
import axios from "axios";
export default {
  name: 'HeaderRizki',
  data(){
    return {
      open:{
        type: Boolean,
        default: false
      },
      dropActive: false,
      keranjangUser: [],
      kategori: []
    };
  },
  methods:{
    removeItem(ee){
      let faveGifs = JSON.parse(localStorage.getItem("keranjangUser"));
      let favegif = faveGifs.map(favegif => favegif.id);
      let index = favegif.findIndex(id => id == ee);
      this.keranjangUser.splice(index,1);
      const parsed = JSON.stringify(this.keranjangUser);
      localStorage.setItem('keranjangUser',parsed);
      window.location.reload();
    },
    dropdopwns(){
      this.dropActive = !this.dropActive
    }
  },
  mounted(){
    if(localStorage.getItem('keranjangUser')){
      try {
        this.keranjangUser = JSON.parse(localStorage.getItem('keranjangUser'));
      } catch (e) {
        localStorage.removeItem('keranjangUser');
      }
    }
    axios.get("http://localhost:8000/api/kategori")
    .then(res => (this.kategori = res.data.data.data) )
     // eslint-disable-next-line no-console
    .catch(err => console.log(err));
  },
  computed:{
    totalHarga(){
      return this.keranjangUser.reduce(function(items,data){
        return items + data.price
      },0);
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .photo-item{
    width: 80px;
    height: 80px;
  }
  .dropdown a{
    text-decoration: none;
    color: #000000;
    font-size: 15px;
  }
  .dropdown ul{
    position: absolute;
    top: 50;
    margin-top: 10px;
    background: #eaeaea;
    z-index: 9999;
  }
  .dropdown ul>li{
    list-style: none;
    text-align: center;
    padding: 20px 0px;
    width: 200px;
  }
  .nav-drop{
    text-decoration: none;
    color: #000000;
  }
</style>
