<template>
    <!-- Related Products Section End -->
    <div class="related-products spad">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="section-title">
              <h2>Related Products</h2>
            </div>
          </div>
        </div>
        <div v-for="idKat in kategori" v-bind:key="idKat.id" class="col-md-12">
          <div class="row">
            <div class="col-lg-3 col-sm-6" v-for="productKategori in idKat.categories" v-bind:key="productKategori.id">
              <div class="product-item">
                <div class="pi-pic">
                  <img class="img-leted" :src="productKategori.galeries[0].photo" alt="" />
                  <div class="sale">Sale</div>
                  <div class="icon">
                    <i class="icon_heart_alt"></i>
                  </div>
                  <ul>
                    <li class="w-icon active">
                      <a href="#"><i class="icon_bag_alt"></i></a>
                    </li>
                    <li class="quick-view"><router-link v-bind:to="'/product/'+ productKategori.id" @click.native="$router.go()">+ Quick View</router-link></li>
                    <li class="w-icon">
                      <a href="#"><i class="fa fa-random"></i></a>
                    </li>
                  </ul>
                </div>
                <div class="pi-text">
                  <div class="catagory-name">{{ idKat.nama_kategori }}</div>
                  <a href="#">
                    <h5>{{ productKategori.name }}</h5>
                  </a>
                  <div class="product-price">
                    {{ productKategori.price }}
                    <span>$35.00</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Related Products Section End -->
</template>
<script>
import axios from "axios";
export default {
    name: "ReleatedProduct",
  props:{
    productDetail: Number
  },
  data() {
    return {
      kategori: []
    };
   },
  mounted(){
    axios.get("http://localhost:8000/api/kategori",{
      params: {
        id: this.productDetail
      }
    })
    .then(res => (this.kategori = res.data))
    .catch(err => console.log(err))
  }
};
</script>
<style scoped>
.img-leted{
  width: 255px;
  height: 255px;
}
</style>