<template>
  <!-- Women Banner Section Begin -->
    <section class="women-banner spad">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12 mt-5" v-if="product.length > 0">
            <carousel class="product-slider" :items="3" :dots="false" :autoplay="true" :nav="false">
              <div class="product-item" v-for="products in product" v-bind:key="products.id">
                <div class="pi-pic">
                  <img v-bind:src="products.galeries[0].photo" alt="" />
                  <div class="sale">Sale</div>
                  <div class="icon">
                    <i class="icon_heart_alt"></i>
                  </div>
                  <ul>
                    <li class="w-icon active">
                      <a @click="simpanKerajang(products.id, products.name, products.price, products.galeries[0].photo)" href="#"><i class="icon_bag_alt"></i></a>
                    </li>
                    <li class="quick-view"><router-link v-bind:to="'/product/'+products.id">+ Quick View</router-link></li>
                    <li class="w-icon">
                      <a href="#"><i class="fa fa-random"></i></a>
                    </li>
                  </ul>
                </div>
                <div class="pi-text">
                  <div class="catagory-name">{{ products.category.nama }}</div>
                  <router-link v-bind:to="'/product/'+products.id">
                    <h5>{{ products.name }}</h5>
                  </router-link>
                  <div class="product-price">
                    Rp. {{ products.price }}
                    <span>$35.00</span>
                  </div>
                </div>
              </div>
            </carousel>
          </div>
          <div class="col-lg-12" v-else>
            <p>Data Belum Tersedia</p>
          </div>
        </div>
      </div>
    </section>
    <!-- Women Banner Section End -->
</template>

<script>
import carousel from "vue-owl-carousel";
import axios from "axios";
export default {
  name: "WomanShayna",
  components: {
    carousel
  },
  data() {
    return {
      product : [],
      keranjangUser: []
    };
  },
  methods: {
    simpanKerajang(idProduct,nameProduct,priceProduct,photoProduct){
      var productStorage = {
        "id": idProduct,
        "name": nameProduct,
        "price": priceProduct,
        "photo": photoProduct
      }
      this.keranjangUser.push(productStorage);
      const parsed = JSON.stringify(this.keranjangUser);
      localStorage.setItem('keranjangUser',parsed);
       window.location.reload();
    }
  },
  mounted() {
    if(localStorage.getItem('keranjangUser')){
      try {
        this.keranjangUser = JSON.parse(localStorage.getItem('keranjangUser'));
      } catch (e) {
        localStorage.removeItem('keranjangUser');
      }
    }
    axios.get("http://localhost:8000/api/product")
          .then(res => (this.product = res.data.data.data))
          .catch(err => console.log(err));
  }
};
</script>

<style scoped>
.product-item {
  margin-right: 25px;
}
.pi-pic img {
  height: 450px;
}
</style>